* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f1016;
  color: #66fcf1;
  padding: 100px 150px;
}
h1 {
  color: white;
}
span {
  color: #66fcf1;
  border-bottom: 3px solid #66fcf1;
  padding-bottom: 5px;
}
.inp-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 50px;
  padding: 2px 5px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: white;
}
input {
  border: none;
  outline: none;
  width: 350px;
  height: 45px;
}
.inp-cont i {
  font-size: 20px;
}
.inp-cont i:active {
  font-weight: 600;
}
button {
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  padding: 2px 5px;
  background-color: #66fcf1;
  color: black;
  font-weight: 600;
}
button:hover {
  background-color: ghostwhite;
}
